body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {
  color: white;
  background: purple;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 20px 0;
}

main {
  padding: 20px;
}
.img-wrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.img-wrap > .img {
  flex-basis: 32%;
  height: 500px;
  overflow: hidden;
  margin: 20px 0;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgb(237 237 237);
}

.img-wrap > .img img {
  min-height: 100%;
  min-width: 100%;
}
@media (max-width: 768px) {
  .img-wrap > .img {
    flex-basis: 48%;
    height: 300px;
  }
}
